@import "./cards.css";
@import "./images.css";

.main {
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav nav section section"
    "nav nav section section"
    "footer footer footer footer";
}

header {
  grid-area: header;
  text-align: center;
}

nav {
  text-align: center;
}

h3 {
  text-align: center;
}

section {
  grid-area: section;
  font-size: medium;
}

footer {
  grid-area: footer;
}

li {
  text-align:left;
}

@media(min-width: 900px) {
  section {
    display: flex;
    font-size: large;
  }
}